{% extends 'base.html' %}
{% block title %}
Motherboard Choice
{% endblock %}
{% block content %}
<h1>Motherboard Choice</h1>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Form Factor</th>
            <th scope="col">Socket</th>
            <th scope="col">Chipset</th>
            <th scope="col">Price</th>
            <th scope="col">Other</th>
        </tr>
    </thead>
    <tbody>
        {% for item in motherboards %}
        {% include 'includes/items_modals.html' %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.form_factor }}</td>
            <td>{{ item.socket }}</td>
            <td>{{ item.chipset }}</td>
            <td>{{ item.price }}$</td>
            <td>
                <button class="btn btn-outline btn-success" data-toggle="modal"
                    data-target="#Modal-AddingConfirm-{{ item.id }}">Choose this Motherboard</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}